body{
    color:white;
}
.Pricing-title{
    width: 700px;
    margin: 4rem auto;
    text-align: center;
    color:black;
}
.Pricing-title p{
    font-size:2.5rem;
    font-weight: 700;
}
.Pricing-title span{
    font-size:1.5rem;
    color:rgba(0, 0, 0, 0.493);
}
.Pricing-options{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 4rem auto;
    justify-content: center;
}
.Pricing-options-button{
    margin: 5rem auto 2rem;
    width: max-content;
}
.Pricing-options-button button{
    background-color:rgba(255, 255, 255, 0);
    height:50px;
    width: 180px;
    border:solid 2.5px;
    border-radius:4px;
    border-color: aliceblue;
    color:white;
    font-weight: 700;
}
.Pricing-options-button button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.personal{
    background-color:#f7c528;
    width: 260px;
    margin-right: 10px;
    border-radius:5px
}
.personal-img{
    text-align:center; 
    margin-top: 3rem;
}
.personal-img img{
    width: 200px;
    height: 140px;
}
.bussiness{
    background-color:#4ed7e2;
    width: 260px;
    margin-right: 10px;
    border-radius:5px
}
.bussiness-img{
    text-align:center; 
    margin-top: 3rem;
}
.bussiness-img img{
    width: 170px;
    height: 140px;
}
.devloper{
    background-color:#5ed1fe;
    width: 260px;
    margin-right: 10px;
    border-radius:5px
}
.devloper-img{
    text-align:center; 
    margin-top: 3rem;
}
.devloper-img img{
    width: 180px;
    height: 140px;
}
.agency{
    background-color:#b6c4d3;
    width: 260px;
    margin-right: 10px;
    border-radius:5px
}
.agency-img{
    text-align:center; 
    margin-top: 3rem;
}
.agency-img img{
    width: 180px;
    height: 140px;
}
.details-intro{
    height:200px;
    padding-left: 30px;
}
.title{
    font-size:1.5rem;
}
.description{
    color:rgba(255, 255, 255, 0.76);
}

.value{
    margin-top: 1.5rem;
    display:flex;
}
.dolar{
    font-size: 1.2rem;
}
.price{
    font-size: 65px;
}
.benefit{
    margin-top:1rem;
    margin-right: 1rem;
}
.benefit-details{
    margin-bottom: 5px;
}
.benefit-details img{
    width: 13px;
}
.benefit-details span{
    margin-left: 5px;
}